<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-typography">
  <div>
    <h1 fxLayoutAlign="center" translate>Nabong Bot</h1>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
      <h4 class="version">v{{ version }}</h4>
      <app-language-selector></app-language-selector>
    </div>
  </div>
  <div class="login-container">
    <div class="login-window-content">
      <div class="login-button-container" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="accent" type="button" *ngIf="!isLoading" (click)="login()">
          <span translate>Log in with Facebook</span>
        </button>
        <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
      </div>
    </div>
  </div>
</div>
