<div class="container">
  <mat-card>
    <mat-card-content class="keywords-table-container" fxLayout="column">
      <mat-table [dataSource]="transactions" matSort matSortActive="name" matSortDirection="asc">
        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date Received</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span>{{ element.createdAt | date: 'short' }}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span>{{ element.transactionType }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="message">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Details</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div style="display: flex; flex-direction: column">
              <span *ngFor="let key of metadataKeys(element.metadata)">
                <b>{{ key }}</b> : {{ element.metadata[key] }}
              </span>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span>{{ element.transactionStatus }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="senderId">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Sender ID</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span>{{ element.senderId }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" type="button">
              <span translate (click)="updateStatus(element, 'NEW')">Confirm</span>
            </button>
            &nbsp;
            <button mat-raised-button color="accent" type="button">
              <span translate (click)="updateStatus(element, 'REJECT')">Decline</span>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <!-- <mat-row *matRowDef="let row; columns: displayedColumns" (click)="openDialog(row)"></mat-row> -->
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <!-- Empty table display -->
      <div *ngIf="transactions.data.length == 0" fxFlex class="mat-table empty-table" fxLayoutAlign="center center">
        <!-- Done fetching but empty -->
        <span *ngIf="!isLoading">No Transactions found</span>
        <!-- Fetching -->
        <span>
          <mat-spinner diameter="24" color="accent" *ngIf="isLoading"></mat-spinner>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
