.container {
  padding: 1rem;
}

.table-container {
  margin-top: 1rem;

  .mat-icon-button {
    margin-left: 8px;
    margin-right: 8px;
  }

  .mat-row {
    cursor: pointer;
  }

  .mat-row:hover {
    background-color: #ffffff11;
  }
}

.mat-column-name {
  flex: 0 0 200px !important;
}

.mat-column-actions {
  flex: 0 0 120px !important;
}

.full-loading-indicator-container {
  background-color: #00000066;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  pointer-events: all;
}

.full-loading-indicator-container .mat-spinner {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
