<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      [disableClose]="!isMobile"
      ngClass.gt-sm="has-border"
    >
      <mat-toolbar color="primary" class="page-selector-toolbar">
        <div class="page-selector-menu">
          <button mat-button [matMenuTriggerFor]="userMenu">
            <mat-spinner *ngIf="activePage == null" color="accent" diameter="36"></mat-spinner>
            <div *ngIf="activePage != null" fxLayoutAlign="center center">
              <img src="https://graph.facebook.com/{{ activePage.id }}/picture" class="fb-page-profile-pic" />
              <span fxFlex="auto" class="selected-page-name">{{ activePage.name }}</span>
              <mat-icon>arrow_drop_down</mat-icon>
            </div>
          </button>
          <mat-menu #userMenu="matMenu">
            <ng-container *ngFor="let page of pages">
              <div *ngIf="isActivePage(page); else elseBlock" class="page-selector-menu-item">
                <button mat-menu-item fxLayout="row" fxLayoutAlign="start center" (click)="switchPage(page)">
                  <img src="https://graph.facebook.com/{{ page.id }}/picture" class="fb-page-profile-pic" />
                  <b fxFlex>{{ page.name }}</b>
                  <mat-icon color="accent">check_circle</mat-icon>
                </button>
              </div>
              <ng-template #elseBlock>
                <button mat-menu-item fxLayout="row" fxLayoutAlign="start center" (click)="switchPage(page)">
                  <img src="https://graph.facebook.com/{{ page.id }}/picture" class="fb-page-profile-pic" />
                  <b fxFlex>{{ page.name }}</b>
                </button>
              </ng-template>
            </ng-container>
            <div class="page-selector-logout-item">
              <button mat-menu-item fxLayout="row" fxLayoutAlign="start center" (click)="logout()" translate>
                <mat-icon>exit_to_app</mat-icon>
                <b fxFlex>Logout</b>
              </button>
            </div>
          </mat-menu>
        </div>
      </mat-toolbar>
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Home</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/transaction" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Transactions</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>About</span>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ title }}</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
