:host {
  display: flex;
  flex: 1;
}

.mat-sidenav {
  min-width: 270px;
  max-width: 28%;
}

.has-border {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.menu-button {
  margin-right: 1rem;
}

.page-selector-toolbar {
  margin: 0px;
  padding: 0px;

  .page-selector-menu {
    height: 100%;
    width: 100%;

    button,
    .loading-indicator {
      display: block;
      height: 100%;
      width: 100%;
      text-align: left;
    }
  }
}

.page-selector-menu .mat-icon {
  vertical-align: middle;
}

.page-selector-menu-item {
  min-width: 240px;
}

.page-selector-menu-item .mat-icon {
  margin-left: 16px;
  margin-right: 0px;
  vertical-align: middle;
}

.page-selector-logout-item .mat-icon {
  margin-left: 6px;
  margin-right: 16px;
  vertical-align: middle;
}

.selected-page-name {
  text-align: left;
  font-size: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
