<div class="dialog-container mat-typography">
  <div class="header" *ngIf="data.title != null">
    <h1 mat-dialog-title>{{ data.title }}</h1>
  </div>
  <mat-dialog-content *ngIf="!data.html">
    <p class="dialog-message">{{ data.message }}</p>
  </mat-dialog-content>
  <mat-dialog-content *ngIf="data.html" [innerHtml]="data.html"> </mat-dialog-content>
  <mat-dialog-actions>
    <button
      *ngIf="data.destructiveActionText != null"
      mat-flat-button
      color="warn"
      (click)="executeDestructiveAction()"
    >
      {{ data.destructiveActionText }}
    </button>
    <button *ngIf="data.extraActionText" mat-flat-button (click)="executeExtraAction()">
      {{ data.extraActionText }}
    </button>
    <span fxFlex></span>
    <button *ngIf="data.negativeActionText != null" mat-flat-button (click)="executeNegativeAction()" mat-dialog-close>
      {{ data.negativeActionText }}
    </button>
    <button
      *ngIf="data.positiveActionText != null"
      mat-flat-button
      color="accent"
      (click)="executePositiveAction()"
      cdkFocusInitial
    >
      {{ data.positiveActionText }}
    </button>
  </mat-dialog-actions>
</div>
